@tailwind base;
@tailwind components;
@tailwind utilities;

// https://css-tricks.com/snippets/css/remove-gray-highlight-when-tapping-links-in-mobile-safari/
@mixin removeTapHighlight {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// do not apply hover effect on touch devices
@mixin hover() {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

// remove browser highlights
@mixin no_user_selection() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  font-family: var(--font-roboto);
}

p {
  @apply text-black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  @include removeTapHighlight;
  color: inherit;
  text-decoration: none;

  &:hover {
    @apply text-white;
  }
}

li {
  font-size: 14px;
  margin-left: 20px;
  list-style-type: circle;
}

@keyframes moveText {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

.text-move {
  animation: moveText 2s ease-in-out infinite;
}

@keyframes colorChange {
  0%,
  100% {
    color: '#e03458';
  }
  50% {
    color: '#ffffff';
  }
}

.text-color-change {
  animation: colorChange 2s ease-in-out infinite;
}

:root {
  --rounded-1: 4px;
  --rounded-2: 8px;
  --rounded-3: 16px;

  --brand: var(--blue5);
  --body: var(--gray9);
  --header: var(--blue5);
  --emphasis: var(--blue5);
  --foreground: var(--gray8);
  --danger: var(--red5);

  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --2xl: 1536px;

  --space-1: 2px;
  --space-2: 4px;
  --space-3: 6px;
  --space-4: 8px;
  --space-5: 12px;
  --space-6: 16px;

  --primary-scroll: #f1f1f1;
  --secondary-scroll: #00c0ff;
  --tertiary-scroll: #00bfff77;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary-scroll);
  border-radius: 7px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-scroll);
  border-radius: 14px;
  border: 3px solid var(--primary-scroll);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary-scroll);
}
